<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- service -->
    <bean id="petStoreService" class="com.spring.demo.xml.service.impl.PetStoreServiceImpl">
        <property name="accountDao" ref="accountDao"/>
        <property name="itemDao" ref="itemDao"/>
    </bean>

    <!-- dao -->
    <bean id="accountDao" class="com.spring.demo.xml.dao.AccountDao"/>
    <bean id="itemDao" class="com.spring.demo.xml.dao.ItemDao"/>
</beans>